@inject HttpClient Http

<ul class="space-y-4">
    @foreach (var product in Products)
    {
        <li class="flex gap-6">
            <img src=@product.ImageUrl class="h-64" />
            <div>
                <p class="text-xl font-semibold pb-2">@product.Title</p>
                <p class="text-sm">@product.Description</p>
                <p class="text-2xl font-semibold mt-4">$@product.Price</p>
            </div>
        </li>
    }
</ul>

@code {
    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("api/product");
        if (result != null) Products = result;
    }
}
